.ChatHeader{
    color: whitesmoke;
    background-color: #333333e1;
    padding: 1%;
    text-align: center;
    font-size: 50px;
}

.MainChat{
    border-radius: 3%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(197, 197, 197, 0.39);
}

.ChatMessages{

    height: 400px;
    width: 100%;
    overflow-y: auto;
    
}

.allMessages{
    list-style-type: none;
    text-align: left;
    font-size: 15px;

}
.allConnectedUsers{
  text-align: center;
  border-radius: 5%;
  color: rgb(0, 160, 85);
}

.allConnectedUsers:hover{
    cursor: pointer;
}

.OnlineUsers{
    color: rgb(96, 0, 151);
    font-family: tahoma;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.wellcomeUserStyle{
    color: rgb(96, 0, 151);
    font-family: tahoma;
}

.EmptymessageStyle{
    color: red;
}

.MeinChat{
    text-align: center;
    color: rgb(0, 109, 182);
    width: 15%;
    float: left;
    margin-right: 2%;
    border-radius: 20%;
}

.ChatWithStyle{
    color: rgb(0, 165, 143);
    font-size: 15px;
    font-family: tahoma;
   
     
}


