.LoginHeader{
    background-color: white;
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold;
    font-size: 10vh;
}

.LoginForm{
    padding: 5%;
   
}